<a href="https://colab.research.google.com/github/Kotya2001/HotelID/blob/feature%2Fgraphs/KaggleTaskAnalitics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import plotly
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Data/train.csv')

In [ ]:
df

                      image  chain  hotel_id            timestamp
0      8000d59f6a3d765f.jpg     85     24607  2018-11-28 05:42:31
1      8000febe81817f7f.jpg      6     25389  2017-01-01 07:01:46
2      80053befc2d42fba.jpg      3       672  2018-01-26 13:22:07
3      8007fa0a8fe89f9d.jpg      5     63866  2020-07-03 02:31:31
4      800a4a6b6f6d2df6.jpg      0     12036  2017-09-22 17:59:22
...                     ...    ...       ...                  ...
97551  ffff8082ec219892.jpg     83     20544  2016-12-18 03:04:54
97552  ffff8200e50cc0f1.jpg     82     51053  2018-01-23 03:51:42
97553  ffff84129981a4a4.jpg     83     42842  2017-03-30 22:45:24
97554  ffff85015040c2af.jpg     82      6261  2016-11-09 12:34:06
97555  ffffc0c05f2820c1.jpg     79     58764  2017-06-14 21:55:37

[97556 rows x 4 columns]

In [ ]:
print(f'Number of records {len(df)}')
print(f'Number of hotels {df.hotel_id.nunique()}')
print(f'Number of chains {df.chain.nunique()}')
print(f'Number of images {df.image.nunique()}')

Number of records 97556
Number of hotels 7770
Number of chains 88
Number of images 97554